In [1]:
import os
from dotenv import load_dotenv


load_dotenv("DB_details.env")  

db_config = {
    "host": os.getenv("DB_HOST"),
    "port": int(os.getenv("DB_PORT")),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASS"),
    "database": os.getenv("DB_NAME")

}


print("Loaded Database config successfully", db_config)

Loaded Database config successfully {'host': '127.0.0.1', 'port': 3306, 'user': 'root', 'password': '#Eduvos1121', 'database': 'video_store'}

In [2]:
import mysql.connector
from mysql.connector import errorcode

try:
    # Connect using env values
    conn = mysql.connector.connect(**db_config)
    cur = conn.cursor()

    # ---------- INSERT: customers (8 rows, no custId) ----------
    cur.execute("""
        INSERT INTO customers (fname, sname, address, phone)
        VALUES 
            ('Aisha',   'Khan',     '12 Rose St',   '0712345678'),
            ('Brad',    'Miller',   '9 Maple Rd',   '0723456789'),
            ('Carla',   'Naidoo',   '5 Oak Ave',    '0734567890'),
            ('Darren',  'Smith',    '44 Pine Dr',   '0745678901'),
            ('Emily',   'van Wyk',  '7 Cedar Ln',   '0756789012'),
            ('Farah',   'Patel',    '21 Birch St',  '0767890123'),
            ('Gareth',  'Zulu',     '3 Linden Rd',  '0778901234'),
            ('Hana',    'Botha',    '18 Palm Ave',  '0789012345');
    """)
    print("Number of rows inserted into customers: %d" % cur.rowcount)
    cur.close()

    # ---------- INSERT: videos (8 rows, manual videoId + videoVer) ----------
    cur = conn.cursor()
    cur.execute("""
        INSERT INTO videos (videoId, videoVer, vname, type, dateAdded)
        VALUES
            (1, 1, 'Inception',     'R', '2025-08-15'),
            (1, 2, 'Inception',     'R', '2025-08-16'),
            (2, 1, 'The Matrix',    'B', '2025-07-20'),
            (2, 2, 'The Matrix',    'B', '2025-07-22'),
            (3, 1, 'Finding Nemo',  'B', '2025-06-30'),
            (4, 1, 'Interstellar',  'R', '2025-08-10'),
            (5, 1, 'Toy Story',     'B', '2025-05-12'),
            (6, 1, 'Gladiator',     'B', '2025-04-05');
    """)
    print("Number of rows inserted into videos: %d" % cur.rowcount)
    cur.close()

    # ---------- INSERT: hire (8 rows, must reference valid custId & videos) ----------
    # custId 1..8 will exist because of AUTO_INCREMENT from customers
    cur = conn.cursor()
    cur.execute("""
        INSERT INTO hire (custId, videoId, videoVer, dateHired, dateReturn)
        VALUES
            (1, 1, 1, '2025-08-20', NULL),
            (2, 1, 2, '2025-08-21', '2025-08-23'),
            (3, 2, 1, '2025-08-18', '2025-08-19'),
            (4, 2, 2, '2025-08-17', NULL),
            (5, 3, 1, '2025-08-10', '2025-08-12'),
            (6, 4, 1, '2025-08-22', NULL),
            (7, 5, 1, '2025-08-05', '2025-08-06'),
            (8, 6, 1, '2025-08-01', '2025-08-03');
    """)
    print("Number of rows inserted into hire: %d" % cur.rowcount)
    cur.close()

    # ---------- Finish ----------
    conn.commit()
    conn.close()
    print("Data inserted successfully into all tables.")

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Incorrect user name or password!")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exists")
    else:
        print(err)

Number of rows inserted into customers: 8
Number of rows inserted into videos: 8
Number of rows inserted into hire: 8
Data inserted successfully into all tables.